@media screen and (max-width:576px) {
    .nav-hamburger-menu{
        display: block;
        color: white;
        margin: 10px;
        font-size: 30px;
    }

.nav-btn-container{
    display: none;
}
.navbar-main{
flex-direction: row;
}
.main-content{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    width: 100%;
}
 .main-right-box{
    width: 100%;
    position: relative;
    padding: 0 50px;
}
.main-left-box{
    width: 100%;
    padding: 0 20px;
}

.workout-icon{
    top: 10%;
    left: 65%;
    width: 160px;
    height: 100px;
}
.tutorial-icon{
    top: 60%;
    right: 55%;
    width: 150px;
    height: 100px;
}
.habit-menu{
    display: grid;
    flex-direction: column;
    background-color: black;
    align-items: center;
    width: 100%;
}
.habit-image-group{
    display: grid;
    grid-template-columns: repeat(4), 1fr;
    gap: 20px;
}
.extra-miles{
    display: flex;
    flex-direction: column;
    
}
.left-box-extramiles{
    width: 100%;
    padding: 0 20px;
    text-align: center;
}
.right-box-extramiles{
    width: 100%;
    position: relative;
    margin: 15px auto;
    justify-content: center;
}
/* calculator form starts here */
.cal-main{
    display: flex;
    flex-direction: column;
}
.bmi-chart-box{
    width: 100%;
}
.calculator-chart{
    width: 100%;
}
/* calculator form ends here */

/* team img starts here */
.team-img-group{
    display: flex;
    flex-direction: column;
}
.team-member-name{
    position: absolute;
    top: 80%;
    right: 40%;
    /* width: 200px;
    height: 100px; */
}
/* team img ends here */
/* testimonial section starts here */
.testimonial{
    display: flex;
    flex-direction: column;
}
.testimonial-info{
    width: 100%;
    padding: 0 20px;
    text-align: center;
    /* height: 100%; */
}
.pr-img{
    width: 100%;
    /* height: 100%; */
    position: relative;
    margin: 15px 0;
    /* justify-content: center; */
}
.pr-img img{
    width: 100%;
    height: 100%;
    /* object-fit: none; */
}
.img-hdr{
    color: rgb(247, 245, 245);
}
/* testimonial section ends here */
/* footer starts here */
.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.get-started{
    text-align: left;
    padding: 0 10px;
}
.company-name-footer{
    text-align: left;
    padding: 0 10px;
}
/* footer ends here */
}